/org-roam.db
/org-persist/
/fontaine-latest-state.eld
/straight/
/elpa/
/transient/
/eln-cache/
/auto-save-list/
/.local/
.org-id-locations
/tramp
/request/
/recentf
/projects
/bin/
/%backup%~
.org-id-locations